# ANÁLISE DE ABASTECIMENTO

---
title: "Abastecimento"
author: "Mariana Silva"
date: "20 de junho de 2023"
lang: pt
format: 
  html:
    code-tools: true
    code-fold: true
    default-image-extension: png
    page-layout: full
jupyter: python3
---

### Análise de Abastecimento

Importação dos dados do arquivo projetos.csv utilizando o pacote pandas. Apresentação dos dados na @tbl-combust

In [4]:
# aciona o pacote pandas e cria um alias (apelido) para facilitar
import pandas as pd

In [61]:
#| label: tbl-combust
#| echo: false
#| tbl-cap: "Dados de Abastecimento"


arquivo = "Downloads\Gasolina.csv"  # abrir arquivo csv
df = pd.read_csv(arquivo, sep=';')  # importa dados para a variável df usando a função read_csv
df.head()  # ler as primeiras linhas da dataset (padrão de 5 primeiras linhas)

         DATA REAIS LITRO      KM LITROS TOTAL REAIS  KM rodados
0  17/12/2022        5,35  213637  44,84      239,93           0
1  04/01/2023        5,29  213936  22,31      118,06         299
2  08/01/2023        5,29  214202  20,25      107,15         266
3  15/01/2023        4,89  214392  14,45       70,68         190
4  22/01/2023        4,89  214655  19,79       96,77         263

In [5]:
#### FUNÇÃO CRIADA

In [4]:
# exemplo de função criada para multiplicação
def KM_RODADOS(km, litros): # função que executa a partir de dois parâmetros
    percurso = km / litros  # Esta é uma variável local, que assume a multiplicação dos parâmetros
    print(percurso) # a função irá imprimir o resultado da função

print ("Valor dos KMs rodados:")
KM_RODADOS (299, 22)

Valor dos KMs rodados:
13.590909090909092

#### ESTRUTURA DE REPETIÇÃO PARA SELECIONAR OS MESES COM MAIS KILOMETROS RODADOS

In [84]:
## ESTRUTURA DE REPETIÇÃO PARA SELECIONAR OS MESES COM MAIS KILOMETROS RODADOS
total =   list(df['KM rodados'])
resultado = []
for dados in total:
    if dados > 250:
        resultado.append (dados)
        print (dados)

299
266
263
439
333
256
269

In [85]:
print (resultado)

[299, 266, 263, 439, 333, 256, 269]

In [86]:
sum (resultado)

2125

In [68]:
# Criando duas listas
KM = list(df['KM rodados'])
LITROS = list(df['LITROS'])

# utilizando função zip() para agrupar as duas listas e salvar resultado em formato lista
list(zip(KM,LITROS))

[(0, '44,84'),
 (299, '22,31'),
 (266, '20,25'),
 (190, '14,45'),
 (263, '19,79'),
 (439, '33,51'),
 (218, '17,73'),
 (219, '16,78'),
 (171, '11,32'),
 (242, '17,37'),
 (229, '17,04'),
 (333, '28,06'),
 (256, '19,45'),
 (235, '19,85'),
 (166, '14,76'),
 (198, '15,7'),
 (198, '16,12'),
 (236, '19,7'),
 (187, '14,3'),
 (269, '21,59'),
 (240, '18,96'),
 (216, '17,62'),
 (226, '17,65'),
 (124, '10,48'),
 (221, '17,47')]